
.work-experience ul {
    list-style: none;
    padding: 0;
    margin: 30px 30px;
}

.experience-entry {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
    margin: 40px;
}

.company-logo {
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    margin-top: 30px; /* Space between image and text */
    object-fit: cover; /* Maintain aspect ratio while covering the size defined */
    border-radius: 50%; /* Optional: makes the image round */
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}
.company-logo:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
        
}

.text-content {
    flex: 1;
}

.work-experience li {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

}

.work-experience h2 {
    color:  #0efe;
    /* margin: 10px 30px; */
    font-size: 35px;
}

.work-experience h3 {
    color: white;
    margin: 20px 0;
    font-weight: 500;
}


.work-experience p {
    color: rgb(144, 139, 139);
    font-size: 20px;
}
@media (max-width: 480px) {
    work-experience h2 {
        font-size:25px;
        margin: 0%;
        padding: 0%;
        
    }
    .company-logo-x {
        margin: 0px 15px;/* Optional: makes the image round */
    }
    .work-experience ul {
        list-style: none;
        padding: 0;
        margin: 30px 5px;
    }
  }