* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background: #081b29;
    margin-top: 102px;
}
.Last-text p {
    width: 100%;
    text-align: center;
    padding: 45px;
    height: auto;
    background: rgba(158, 39, 39, 0.1);
    font-weight: 300;
    
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.App{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.navbar.en {
    font-family: 'Noto Sans', sans-serif;
  }
  
  .navbar.th {
    font-family: 'Noto Sans Thai', sans-serif;
  }
  
  .navbar.la {
    font-family: 'Noto Sans Lao', sans-serif;
  }
