.work-experience {
  margin: 40px 0px;
  padding-left: 0%;
}
.work-experience ul {
  list-style: none;
  padding: 0;
  margin: 40px 0px;
}

.experience-entry {
    
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
}

.company-logo {
  width: 100px; /* Set the width of the image */
  height: 100px; /* Set the height of the image */
  margin: 0px 20px;
  margin-top: 30px; /* Space between image and text */
  object-fit: cover; /* Maintain aspect ratio while covering the size defined */
  border-radius: 50%; /* Optional: makes the image round */
}

.text-content {
  flex: 1;
}

.work-experience li {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.work-experience h2 {
  color: #0efe;
  margin: 10px 40px;
  font-size: 45px;
}

.work-experience h3 {
  color: white;
  margin: 20px 0;
  font-weight: 700;
}

.work-experience p {
  color: rgb(144, 139, 139);
  font-size: 20px;
}
@media screen and (max-width:480px) {
  .experience-entry {
    
    display:flex;
    flex-direction: column;
  }
  .work-experience h2 {
    font-size: 35px;
  }
   
  }