
.work-experience ul {
  list-style: none;
  padding: 0px;
  margin: opx;
}

.experience-entry {
    
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 10px;
}

.company-logo {
  width: 100px; /* Set the width of the image */
  height: 100px; /* Set the height of the image */
  margin-right: 20px;
  margin-left: 0px; /* Space between image and text */
  object-fit: cover; /* Maintain aspect ratio while covering the size defined */
  border-radius: 50%; /* Optional: makes the image round */
}

.text-content {
  flex: 1;
}

.work-experience li {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;

}

.work-experience h2 {
  color: #0efe;
  margin: 10px 30px;
  font-size: 45px;
}

.work-experience h3 {
  color: white;
  margin: 20px 0;
  font-weight: 700;
}

.work-experience p {
  color: rgb(144, 139, 139);
  font-size: 20px;
  padding: 0px;
}
@media screen and (max-width:480px) {
  .experience-entry {
    
    display:flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
  }
  .work-experience h2 {
    font-size: 35px;
    margin-left: 30px;
  }
  .company-logo {
    justify-content: left;
    margin-left: -200px;
  }
   
  }