* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Times New Roman', Times, serif; */

}

body {
  color: #ededed;
  background: #081b29;
}

.Last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 10px;
  height: 15px;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
@media screen and (max-width: 480px) {
  .Last-text p {
    padding: 0 6px;
  }
}
@media screen and (max-width: 320px) {
  .Last-text p {
    padding: 0px;
    font-size: 13px;
  }
}

