.ontall{
    background: #081b29;

}
.py-5
{
    background: blue;
}
.container{
    width: 100%;
}
.col-6 h5{
    color:white;
    font-weight: 700;
}
.col-6
.nav 
.nav-item 
.nav-link {
    color: aliceblue;
}
.col-6
.nav 
.nav-item 
:hover{
    color: gray;
}